@import "tailwindcss";
#root{
    height: 100vh;
    width: 100vw;
 --spin-border: spin 2s linear infinite;
}

::-webkit-scrollbar{
    display: none;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.mask-border-spin {
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  padding: 3px;
  box-sizing: border-box;
}